* body{
    margin: 0px;
    padding: 0px;
    font-family: "Story Script", sans-serif;
}
#topoContainer{
    width: 980px;
    height: 100px;
    margin: auto;
    /*background-color: rgb(188, 66, 66);*/
}
#logo{
    width: 200px;
    height: 100px;
    float: left;
    background-color: rgb(97, 8, 63);
}
#menu{
    width: 680px;
    height: 100px;
    float: right;
    background-color: rgb(212, 112, 112);
    text-align: center;
}
#banner{
    width: 980px;
    height: 300px;
    background-color: rgb(244, 51, 99);
    margin: auto;
    margin-top: 50px;
   
}
#conteudoSite{
    width: 980px;
    height: 300px;
    background-color:rgb(255, 255, 255);
    margin: auto;
    margin-top: 50px;
}
#meio{
    width: 320px;
    height: 300px;
    background-color: rgb(135, 94, 94);
    float: left;
    margin-left: 10px;
}
#esquerda{
    width: 320px;
    height: 300px;
    background-color: rgb(59, 31, 31);
    float: left;
}
#direita{
    width: 320px;
    height: 300px;
    background-color: rgb(199, 119, 119);
    float: right;
    margin-left: 10px;
}
#rodape{
    width: 980px;
    height: 100px;
    background-color: rgb(134, 34, 34);
    margin: auto;
    margin-top: 50px;
    clear: both;
}